In [1]:
import pandas as pd

In [2]:
df = pd.read_json("output.json")

In [3]:
df.head()

,Name,About,Embedding
0,Lucas Bloms,Personal Trainer with 10+ years of experience ...,"[-0.014582630000000001, -0.021121461, 0.008614..."
1,Sanne Vloet,"Iâ€™m Sanne Vloet, a model, trainer and certifie...","[-0.0034334245, -0.016254608, 0.01348423400000..."
2,Kesaine Walker,Kesaine is an energy healer and intuitive spir...,"[-0.0003878983, -0.0013050548, -0.012857019, -..."
3,Emma Mumford,UKâ€™s leading Law of Attraction expert. Award-w...,"[-0.010802264, -0.0051898966000000005, -0.0063..."
4,Natalie Holbrook,ðŸª©ASTROLOGY FOR SALES x BUSINESS MENTORINGðŸª©\n\n...,"[-0.01028617, -0.03188188, -0.00796391, -0.029..."

In [4]:
data = df[["Name", "Embedding"]]

In [5]:
data.head()

               Name                                          Embedding
0       Lucas Bloms  [-0.014582630000000001, -0.021121461, 0.008614...
1       Sanne Vloet  [-0.0034334245, -0.016254608, 0.01348423400000...
2    Kesaine Walker  [-0.0003878983, -0.0013050548, -0.012857019, -...
3      Emma Mumford  [-0.010802264, -0.0051898966000000005, -0.0063...
4  Natalie Holbrook  [-0.01028617, -0.03188188, -0.00796391, -0.029...

In [6]:
data.to_json("modified_out.json",  orient='records')